.cardPrincipal {
  @apply w-full max-w-xl mx-auto;
}

.cardTitle {
  @apply text-3xl font-light;
}
.cardContent {
  @apply space-y-6;
}

.cardContent h3 {
  @apply font-semibold text-gray-800;
}

.divCardContent {
  @apply space-y-4;
}

.divCardContent p {
  @apply text-sm text-gray-600;
}

.results {
  @apply space-y-4 text-lg font-semibold text-red-600;
}
